@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');

:root {
    --bg-body: #0B2447;
    --bg-secondary: #19376D;
    --bg-secondary-dark: #576CBC;
    --color-hover: #A5D7E8;
}
body {
    background-color: var(--bg-body);
    color: white;
    font-family: "Poppins", sans-serif;
}

nav {
    padding: 1rem 8rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--bg-secondary);
}

nav .menu ul {
    display: flex;
    gap: 2rem;
    list-style: none;
}

nav .menu ul li a {
    color: white;
    text-decoration: none;
    transition: color 0, 3s;
}

nav .menu ul li a:hover {
    color: var(--color-hover);
}
